// LinesList
.btn-line {
  min-width: 54px;
  font-size: 12px;
  line-height: 16px;
  &.active {
    background-color: #2E3E6E;
    border-color: #2E3E6E;
  }
}

// Navigation
.bus-nav {
  .nav-link {
    border-bottom: 2px solid transparent;
    color: $gray-600;
    &.active {
      color: $dark;
      border-color: #1952E1;
    }
  }
}

// PanelWithList
.item-list {
  max-height: 320px;
}
.item-listing {
  &.clickable {
    &:hover {
        background-color: #F8F8FB;
      }
    &.active {
      border-color: var(--bs-border-color);
      background-color: #fff;
      color: #1952E1;
    }
  }
}

.placeholder-box {
  border: 2px dashed #ccc;
  padding: 1rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #999;
  background-color: #fff;
}