// LinesList
.btn-line {
  min-width: 54px;
  font-size: 12px;
  line-height: 16px;
  &.active {
    background-color: #2E3E6E;
    border-color: #2E3E6E;
  }
}

// Navigation
.bus-nav {
  .nav-link {
    border-bottom: 2px solid transparent;
    color: $gray-600;
    &.active {
      color: $dark;
      border-color: #1952E1;
    }
  }
}